/* Call fonts */

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham/GothamRounded-Book.otf'),
         url('../fonts/gotham/GothamRoundedBook_21018.ttf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham/GothamRounded-Medium.otf'),
         url('../fonts/gotham/GothamRoundedMedium_21022.ttf');
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
